affine==2.4.0
asciitree==0.3.3
attrs==24.2.0
certifi==2024.8.30
cftime==1.6.4
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.1.0
dask==2024.10.0
fasteners==0.19
fsspec==2024.10.0
importlib_metadata==8.5.0
locket==1.0.0
netCDF4==1.7.1.post2
numcodecs==0.13.1
numpy==2.1.2
packaging==24.1
pandas==2.2.3
partd==1.4.2
pyparsing==3.2.0
pyproj==3.7.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
rasterio==1.4.1
six==1.16.0
toolz==1.0.0
tzdata==2024.2
xarray==2024.9.0
zarr==2.18.3
zipp==3.20.2
